body {
    background-color: #145b63;
    line-height: 1;

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    color: #ffffff;
    font-size: 1.3rem;
}

.box {
    background-color: #35154a4d;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: space-around;



    width: 500px;
    height: 300px;
    /* border: 1px solid black; */
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.number {
 font-size: 4rem;
 margin-top: 1rem;
}

/* .stage {
    max-width: 500px;
    margin: 0 auto;
}

.panel {
    background-color: #120945;
    padding: 16px 24px;
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #DE7EB6;
    margin-bottom: 24px;
    font-size: 30px;
}

.counter {
    display: flex;
    justify-content: space-between;
}

.counter-block {
    color: #ffffff;
    text-align: center;
    font-weight: 600;
}

.counter-block:last-child {
    color: #F2AD41;
}

.counter-block-number {
    font-size: 48px;
}

.counter-block-label {
    font-size: 20px;
} */